### Python Basic Concepts

##### Link to GDrive: https://drive.google.com/drive/folders/1XIuCSXUQ36cr16e0bcN6GR5gfyZ7tkFX

In [5]:
print("Hello World!!!")

Hello World!!!

In [6]:
print("Hi, D74 Bootcamp!!!")

Hi, D74 Bootcamp!!!

In [11]:
### Integers
a = 10 # A variable which contains int value 10
print(a)
b = 100 # variable Assignment
print(b)

10
100

In [12]:
1a = 10 # Variable Name should not start with number
a b = 10 # No Spacre between variable name

SyntaxError: invalid decimal literal (3266809039.py, line 1)

In [ ]:
c = 200
print(c)

200

In [ ]:
200 value is assigned to variable c # Error, use comment 
# Start writing comment during the coding

In [15]:
a = 10
print(a)
type(a)  # Data type of variable a

10

int

In [16]:
type(1000)

int

In [18]:
a = 1
a = 2
a = 1
a = 2
a = 20

In [19]:
print(a)

20

In [22]:
A = 1
a = 2
A = 3
a = 100
# Python IS case sensitive
print(A)

3

In [23]:
print(a)

100

In [24]:
1/2

0.5

In [25]:
type(1/2)

float

In [26]:
# Float Data Type
a = 5.0 - 1

In [27]:
print(a)

4.0

In [28]:
type(a)

float

In [31]:
# Addition (+)      2 + 2 = 4
# Substraction (-)  5 - 2 = 3
# Multiplication (*) 5 * 3 = 15 
# Division (/)       10 / 2 = 5
# Power    (**)      3 ** 2 = 27
# Floor Division (//) 7 / 2 = 3
# Remainder (%)       21 / 3 = 0

### Data Type Conversion - Typecasting

In [36]:
a = 33.0
print(int(a))

33

In [37]:
b = float(a)

In [38]:
int(33//4)

8

In [39]:
float(7/3)

2.3333333333333335

### String Data Type

In [41]:
a = "bootcamp"
type(a)

str

In [42]:
a = " "
print(a)

In [ ]:
a1 = 1
a2 = '1'

In [45]:
print(a1 == a2)

True

In [46]:
int("100")

100

In [47]:
int("UPGRAD")

ValueError: invalid literal for int() with base 10: 'UPGRAD'

In [48]:
x1 = '2'

In [49]:
x2 = 4

In [54]:
x1 = int(x1)
x2 ^ x1

6

In [56]:
x = 10
y = 20
x
y

20

In [59]:
age = int(input("Enter you age: "))
if age > 0:
    if age > 59:
        print("Retirement us soon")
    else:
        print("No So Soon")
else:
    print("Enter Correct age")

Enter Correct age