Loops are a way to repeatedly execute some code! Today we will look at two types of loops:

1. for loop
2. while loop



The for loop specifies

the variable name to use (in this case, planet)
the set of values to loop over (in this case, planets)
You use the word "in" to link them together.

The object to the right of the "in" can be any object that supports iteration. Basically, if it can be thought of as a group of things, you can probably loop over it. In addition to lists, we can iterate over the elements of a tuple

# 1. For Loop

### loops over a range of something - numbers, string, list, etc. 

- You know exactly the number of steps
- You won't fall into an infinite
- The index variable is automatically incremented

The for loop specifies

- the variable name to use
- the set of values to loop over 
- You use the word "in" to link them together.

The object to the right of the "in" can be any object that supports iteration. Basically, if it can be thought of as a group of things, you can probably loop over it. In addition to lists, we can iterate over the elements of a tuple

Let's try some examples!

In [1]:
s = 'upgrad'

In [2]:
for i in s :
    print(i)

u
p
g
r
a
d

In [3]:
for a in s:
    print(a)

u
p
g
r
a
d

In [4]:
for x in s :
    print(x)

u
p
g
r
a
d

In [5]:
for yz in s :
    print(yz)

u
p
g
r
a
d

In [8]:
s2 = "upgrad"

In [10]:
for i in s2 :
    print(i,"--",i.upper())

u -- U
p -- P
g -- G
r -- R
a -- A
d -- D

In [13]:
s2

'upgrad'

In [11]:
for x in s2 :
    print(x,"--",x+'a')

u -- ua
p -- pa
g -- ga
r -- ra
a -- aa
d -- da

In [14]:
l = [1,2,3,4]

In [15]:
for i in l:
    print(i)

1
2
3
4

In [16]:
for i in l :
    print(i,"square is -",i**2)

1 square is - 1
2 square is - 4
3 square is - 9
4 square is - 16

In [17]:
l

[1, 2, 3, 4]

In [18]:
for i in l :
    print(i+1)

2
3
4
5

In [19]:
# what if i want to save the output as a list?

In [20]:
l

[1, 2, 3, 4]

In [22]:
nu = []
for i in l:
    nu.append(i+1)
print(nu)

[2, 3, 4, 5]

In [23]:
# 1. [].append(1+1) = [2]
# 2. [2].append(2+1) = [2,3]
# 3. [2,3].append(3+1) = [2,3,4]
# 4. [2,3,4].append(4+1) = [2,3,4,5]

In [25]:
x2 = [1,2,3]
# sum : 6!! (Write a loop!)

In [26]:
s = 0 
for i in x2:
    s = s + i #s += i 
print(s)

6

In [28]:
# 1) s = s + i = 0 + 1 = 1
# 2) s = 1 + 2 = 3
# 3) s = 3 + 3 = 6

In [31]:
x2 = [1,2,3,4,5,6,7,8,9]
s = 0 
for i in x2:
    s = s + i # s += i 
print(s)

45

In [33]:
x3 = [1,2,3,4]
# output : 24 (4*3*2*1) (Write a loop!)

In [36]:
s = 1
for i in x3 :
    s = s*i
print(s)

24

In [38]:
x3 = [1,2,3,4,5,6,7,8,9,10,11,12]
s = 1
for i in x3 :
    s = s*i
print(s)

479001600

In [39]:
for i in range(5): #0 to n-1
    print(i)

0
1
2
3
4

In [40]:
for i in range(10): #0 to n-1
    print(i)

0
1
2
3
4
5
6
7
8
9

In [42]:
for i in range(2,6):
    print(i)

2
3
4
5

In [43]:
x = [0,1,2,3,4,5,6,7]

In [46]:
for i in range(3,6):
    print(x[i])

3
4
5

In [45]:
# i --> 3,4,5
print(x[3])
print(x[4])
print(x[5])

3
4
5

In [47]:
x2 = [20,30,40,10,20,30,-100,"upgrad"]

In [57]:
for i in range(3,5):
    print(i)

3
4

In [58]:
print(x2[3:5])

[10, 20]

In [59]:
print(x2[4:6])

[20, 30]

In [49]:
for i in range(3,5):
    print(x2[i:i+2])

[10, 20]
[20, 30]

In [50]:
# # i --> 
# 1. 3 --> print(x2[3:5])
# 2. 4 --> print(x2[4:6])

In [51]:
print(x2[3:5])
print(x2[4:6])

[10, 20]
[20, 30]

In [56]:
x4 = [1,2,3,4,5,6,7]
for i in x4[::2]:
    print(i,"-",i**2)

1 - 1
3 - 9
5 - 25
7 - 49

In [55]:
x4[::2]

[1, 3, 5, 7]