In [1]:
print("Hello, World!!!")

Hello, World!!!

In [2]:
name = input("What's your name?")

In [5]:
print("Welcome to UpGrad",name)

Welcome to UpGrad Tanvir

In [6]:
print("O     ")
print("|     ")
print("|_____")
print(" |||| ")
print(" |||| ")
print(" |||| ")

O
|
|_____
 ||||
 ||||
 ||||

In [7]:
print("$" * 5)

$$$$$

#### Variables

In [9]:
var1 = "Tanvir"
print(var1)

Tanvir

In [10]:
var2 = 6
print(var2)

6

In [11]:
var3 = 4.5
print(var3)

4.5

In [17]:
age = int(input("Enter you age: "))
print("Your are", age * 12, " months old")

Your are 384  months old

#### How to find the data type for a variable in Python!

In [22]:
int_num = 10
print(type(int_num))
float_num = 5.6
print(type(float_num))
string = "Tanvir"
print(type(string))
boolean = True
print(type(boolean))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

##### Type Casting in Python

In [34]:
x = 3.75
int(x)

3

In [35]:
float(x)

3.75

In [36]:
str(x)

'3.75'

In [37]:
bool(x)

True

In [39]:
name = Tanvir
print(type(name))

NameError: name 'Tanvir' is not defined

#### Arithmetic Operations

In [40]:
a = 6
b = 7
print("Addition = ", a + b)

Addition =  13

In [41]:
print("Substraction = ", a - b)

Substraction =  -1

In [42]:
print("Mupltiplication = ", a * b)

Mupltiplication =  42

In [43]:
print("Division = ", a / b)

Division =  0.8571428571428571

In [44]:
print("Floor Division = ", a // b)

Floor Division =  0

In [46]:
print("Modulus = ", a % b)

Modulus =  6

In [47]:
print("Exponential = ", a ** b)

Exponential =  279936

In [48]:
print((4 * 5) - 9 + 6 / 7)

11.857142857142858

In [49]:
6/7

0.8571428571428571

In [51]:
a = 4 + (8 ** 2) - 3 ** 2 % 1
print(a)

68

In [53]:
x = 3
y = 2.5
z = 5
print(x + y / z)

3.5

In [54]:
print(4 % (1 + 9)**2 - 60 // (7 + 2))

-2

#### String Operations

In [55]:
c = 'z'

In [56]:
word = "I love Python programming"

In [63]:
print(word[7:13])

Python

In [73]:
print(word[7:12])

Pytho

In [72]:
print(word[-18:-12])

Python

In [74]:
x = 'len'
x[len(x * 2) - 5]

'e'

In [75]:
string = 'I love breaking bad'
print(string.count('a'))

2

In [78]:
input_str = 'bmaunmdbraai'
#Type your code here
length = len(input_str)
mid_point = (length + 1) // 2
part1 = input_str[:mid_point]
part2 = input_str[mid_point:]

original_message = []
for x, y in zip(part1, part2):
    original_message.append(x)
    original_message.append(y)
        
if len(part1) > len(part2):
    original_message.append(part1[-1])

print(original_message)
message1 = original_message[0]
message2 = original_message[1]

print(message1, message2)

['b', 'd', 'm', 'b', 'a', 'r', 'u', 'a', 'n', 'a', 'm', 'i']
b d

In [104]:
full_name = "    Mohammad Tanvir   "
full_name = full_name.strip().lower()
first_name, last_name = full_name.split(" ")

mohammad
tanvir

In [106]:
dob = "01-02-1992"
month = dob[3:5]
print(month)
age = 32

02

In [97]:


user_id = name.replace(" ", "_")+str(yob)+str(age)
print(user_id)

____Mohammad_Tanvir___199232

In [98]:
user_id = name.split(" ")[0][0]+name.split(" ")[1][0]+str(yob)+str(age)
print(user_id)

IndexError: string index out of range