In [1]:
name = input("What's you name")
number = input("What's your number")

In [2]:
print(name, number)

Tanvir 32

In [5]:
from random import seed
from random import randint
value = randint(100, 999)
value

969

#### Lists

In [10]:
# Introduction
l = ["India", 23, 6, "Mumbai"]
l

['India', 23, 6, 'Mumbai']

In [9]:
# Nested List
nl = ["Chemistry", "Biology", [1994, 2004], 4]
nl

['Chemistry', 'Biology', [1994, 2004], 4]

In [15]:
# Indexing
print(l[0])
print(l[-1])
print(nl[2])
print(nl[-2][0])

India
Mumbai
[1994, 2004]
1994

In [19]:
# Slicing
l[1:3]
l[2:5]

[6, 'Mumbai']

In [20]:
# Indexing example 
L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L[0]

# Slicing
L[0:3]

['Chemistry', 'Biology', [1989, 2004]]

In [ ]:
# Membership in List
L1 = [1, 2, 3, 4]