In [1]:
name = input("What's you name")
number = input("What's your number")

In [2]:
print(name, number)

Tanvir 32

In [2]:
from random import seed
from random import randint
value = randint(100, 999)
value

940

#### Lists

In [3]:
# Introduction
l = ["India", 23, 6, "Mumbai"]
l

['India', 23, 6, 'Mumbai']

In [4]:
# Nested List
nl = ["Chemistry", "Biology", [1994, 2004], 4]
nl

['Chemistry', 'Biology', [1994, 2004], 4]

In [6]:
# Indexing
print(l[0])
print(l[-1])
print(nl[2])
print(nl[-2][0])

India
Mumbai
[1994, 2004]
1994

In [7]:
# Slicing
l[1:3]
l[2:5]

[6, 'Mumbai']

In [19]:
# Indexing example 
L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L[0]

# Slicing
L[0:3]

['Chemistry', 'Biology', [1989, 2004]]

In [21]:
# Membership in List
L1 = [1, 2, 3, 4]
print(1 in L1)
print(20 in L1)

True
False

In [22]:
# List Concatanetion
L
new_L = L + [5, 8]
print(new_L)

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [23]:
# Replace "Biology" with "Physics"
L[1] = "Physics"
L

['Chemistry', 'Physics', [1989, 2004], ('Oreily', 'Pearson')]

In [24]:
# extend
L.extend([5, 8])
L

['Chemistry', 'Physics', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [25]:
# append
L.append([5, 8])
L

['Chemistry', 'Physics', [1989, 2004], ('Oreily', 'Pearson'), 5, 8, [5, 8]]

In [26]:
# extend()
L = ["Chemistry", "Biology", [1989,  2004] ,("Oreily" , "Pearson")]
L.extend([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [27]:
# append()
L = ["Chemistry", "Biology", [1989,  2004], ("Oreily" , "Pearson")]
L.append([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), [5, 8]]

In [29]:
# del commad
del L[0]
print(L)

[[1989, 2004], ('Oreily', 'Pearson'), [5, 8]]

In [42]:
del L[0:2]
L

['three', 'four', 'five', 'six']

In [43]:
# pop()
L = ['Checmistry', 'Physics', [1992, 2004], 4, 5, 8]
L.pop()

8

In [44]:
print(L)

['Checmistry', 'Physics', [1992, 2004], 4, 5]

In [45]:
# remove()
L.remove('Physics')
L

['Checmistry', [1992, 2004], 4, 5]

In [48]:
# Sorting Lists
L = [32, 24, 1, 3, 8]
L.sort()
L

[1, 3, 8, 24, 32]

In [51]:
L.sort(reverse=True)
L

[32, 24, 8, 3, 1]

Difference Between Sort and Sorted

In [53]:
A = ["Orange", "Strawberry", "Mango"]
A

['Orange', 'Strawberry', 'Mango']

In [54]:
B = A.sort()
print(A)
print(B)

['Mango', 'Orange', 'Strawberry']
None

In [56]:
A = ["Orange", "Strawberry", "Mango"]
C = sorted(A)
print(A)
print(C)

['Orange', 'Strawberry', 'Mango']
['Mango', 'Orange', 'Strawberry']

In [57]:
# Practical

list_1 = [2, 33, 222, 14, 25]
list_1[-5]

2

In [59]:
word = ['1','2','3','4']
word[ : ] = [ ] 
print(word)

[]

In [32]:
L = ['one','two','three', 'four', 'five', 'six']
print(sorted(L))
print (L)

['five', 'four', 'one', 'six', 'three', 'two']
['one', 'two', 'three', 'four', 'five', 'six']

In [60]:
# Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK' in its place.
input_list=['SAS', 'R', 'PYTHON', 'SPSS']
input_list.remove('SPSS')
print(input_list)
input_list.append('SPARK')
print(input_list)

['SAS', 'R', 'PYTHON']
['SAS', 'R', 'PYTHON', 'SPARK']

In [34]:
# Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] 
# to a string using ‘&’. 
# The sample output of this string will be:

input_str = ['Pythons syntax is easy to learn', 'Pythons syntax is very clear']
string_1 = input_str[0] + ' & ' + input_str[1]
print(string_1)

Pythons syntax is easy to learn & Pythons syntax is very clear

In [61]:
# Shadow Copying
A = ["Orange", "Strawberry", "Mango"]
B = A
print(A, B)
A[0] = "Apple"
print(A, B)

['Orange', 'Strawberry', 'Mango'] ['Orange', 'Strawberry', 'Mango']
['Apple', 'Strawberry', 'Mango'] ['Apple', 'Strawberry', 'Mango']

In [36]:
A = ["Orange", "Strawberry", "Mango"]
B = A[:]
print(A, B)
A[0] = "Apple"
print(A, B)

['Orange', 'Strawberry', 'Mango'] ['Orange', 'Strawberry', 'Mango']
['Apple', 'Strawberry', 'Mango'] ['Orange', 'Strawberry', 'Mango']

In [63]:
input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]
input_list[2][0]

'Python'

In [67]:
# Split the string input_str = 'Kumar_Ravi_003' to the person's second name, 
# first name and unique customer code. In this example, second_name= 'Kumar', first_name= 'Ravi', 
# customer_code = '003'.

input_str = 'Kumar_Ravi_003'
print(input_str.split('_')[0])
print(input_str.split('_')[1])
print(input_str.split('_')[2])

Kumar
Ravi
003

### Tuple

In [38]:
## Tuple
t = ("disco", 12, 4.5)
t

('disco', 12, 4.5)

In [ ]:
# Single Value Tuple

sample_tuple = 1,
print(sample_tuple)

sample_tuple = 1 # This is not a tuple
type(sample_tuple)

(1,)

int

In [5]:
sample_tuple = (1)
type(sample_tuple) # This is not a tuple

int

In [6]:
# Indexing in tuples
t = ("Tanvir", 84, "Python")
t

('Tanvir', 84, 'Python')

In [10]:
print(t[0])
print(t[2])
print(t[-1])

Tanvir
Python
Python

In [39]:

sample_tuple = 1, 2, 3, 4
print(sample_tuple)

(1, 2, 3, 4)

In [40]:
tuple = (2,3.2,4,5)
print(sum(tuple))
print(min(tuple))
print(max(tuple))

14.2
2
5

In [41]:
## Immutability of tuples
t = ("USA", 4, 3, "Disco", 7.5, 4)
print(t)
t[3] = "Hard Rock"

('USA', 4, 3, 'Disco', 7.5, 4)

TypeError: 'tuple' object does not support item assignment

In [63]:
new_t = t[0:3] + ("Hard Rock",) + t[4:]
new_t

('USA', 4, 3, 'Hard Rock', 7.5, 4)

In [70]:
## Sorting a Tuple
t = (2, 3, 5, 10, -1)
t

(2, 3, 5, 10, -1)

In [73]:
x = sorted(t)
y = tuple(x)

TypeError: 'tuple' object is not callable

In [74]:
## Nested tuple
t = (1, 5, "Disco", ("Python", "Java"))

In [76]:
t[3][1]

'Java'

In [77]:
## Packing and Unpacking Tuple

In [82]:
my_list = []
print(type(my_list))
print(dir(my_list))

my_set = set()
print(type(my_set))
print(dir(my_set))

my_tuple = ()
print(type(my_tuple))
print(dir(my_tuple))

<class 'list'>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
<class 'set'>
['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']
<class 'tuple'>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [85]:
t = (1,5,"Disco", ("Python", "Java"))
print(type(t[3]))
tuple

<class 'tuple'>

(2, 3.2, 4, 5)

In [86]:
t = (1, 2, 4, 3)

In [90]:
print(len(t))

4

In [96]:
x = ('2',)
print(type(x))

<class 'tuple'>

In [99]:
input_tuple = ('Monty Python', 'British', 1969)
tuple_2 = input_tuple[0:] + ("Python",)
print(tuple_2)
print(type(tuple_2))

new_t = t[0:3] + ("Hard Rock",) + t[4:]

('Monty Python', 'British', 1969, 'Python')
<class 'tuple'>

In [108]:
## Set
list_1 = [5,5,5,5,5,5,5,3]
list_2 = [3,3,5,5,1,7,2]

common_set = set(list_1).intersection(list_2)
answer = sorted(list(common_set))
print(answer)

[3, 5]

In [109]:
nums = set([1,1,2,3,3,3,4])
print(len(nums))

4

In [112]:
list_1 = [5, 1, 3, 4, 4, 5, 6, 7]
list_2 = [3, 3, 5, 5, 1, 7, 2]

A = set(list_1)
B = set(list_2)
print(A, B)
print(A.union(B))
print(A.intersection(B))
(A.union(B)).difference(A.intersection(B))

{1, 3, 4, 5, 6, 7} {1, 2, 3, 5, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 3, 5, 7}

{2, 4, 6}

#### Dictionary

In [115]:
d = {'India': 'INR', 'USA': 'USD', 'French': 'Euro' }
print(d)
print(d['USA'], d['India'])

{'India': 'INR', 'USA': 'USD', 'French': 'Euro'}
USD INR

In [117]:
# replace the value for a key
d['USA'] = '$'
print(d['USA'], d['India'])

$ INR

In [118]:
# Inset a new element with key
d['Japan'] = 'Yen'
print(d['USA'], d['India'], d['Japan'])

$ INR Yen

In [119]:
# delete a new key pair
del d['French']
print(d)

{'India': 'INR', 'USA': '$', 'Japan': 'Yen'}

In [120]:
# sorting a disctionary
print(sorted(d))

['India', 'Japan', 'USA']

In [123]:
# extract all the value
print(d.values())
print(d.keys())

dict_values(['INR', '$', 'Yen'])
dict_keys(['India', 'USA', 'Japan'])

In [5]:
Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}

print(Employee_data[104][2])
for key in Employee_data.keys():
    if key == 104:
        print(Employee_data[104])

Product Lead
['Ansari', 29, 'Product Lead']

In [10]:
d = {}
print(type(d))

d = {'a':1, 'b':2}
print(type(d))

d = dict(a=1, b=2)
print(type(d))

d = ('a':1, 'b':2)
print(type(d))

SyntaxError: invalid syntax (2863560317.py, line 10)

In [22]:
dict_1 = {"Python":40, "R":45}

In [23]:
del dict_1['R']
print(dict_1)

{'Python': 40}

In [25]:
input_dict={'Name': 'Monty', 'Profession': 'Singer' }
for key in input_dict.keys():
    print(key)

Name
Profession

In [28]:
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}
list_values = input_dict.values()
print(sorted(list(list_values)))

['Amazon', 'Apple', 'RJIO', 'Twitter']