In [1]:
name = input("What's you name")
number = input("What's your number")

In [2]:
print(name, number)

Tanvir 21

In [3]:
from random import seed
from random import randint
value = randint(100, 999)
value

344

#### Lists

In [4]:
# Introduction
l = ["India", 23, 6, "Mumbai"]
l

['India', 23, 6, 'Mumbai']

In [5]:
# Nested List
nl = ["Chemistry", "Biology", [1994, 2004], 4]
nl

['Chemistry', 'Biology', [1994, 2004], 4]

In [6]:
# Indexing
print(l[0])
print(l[-1])
print(nl[2])
print(nl[-2][0])

India
Mumbai
[1994, 2004]
1994

In [7]:
# Slicing
l[1:3]
l[2:5]

[6, 'Mumbai']

In [8]:
# Indexing example 
L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L[0]

# Slicing
L[0:3]

['Chemistry', 'Biology', [1989, 2004]]

In [9]:
# Membership in List
L1 = [1, 2, 3, 4]
print(1 in L1)
print(20 in L1)

True
False

In [10]:
# List Concatanetion
L
new_L = L + [5, 8]
print(new_L)

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [11]:
# Replace "Biology" with "Physics"
L[1] = "Physics"
L

['Chemistry', 'Physics', [1989, 2004], ('Oreily', 'Pearson')]

In [12]:
# extend
L.extend([5, 8])
L

['Chemistry', 'Physics', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [13]:
# append
L.append([5, 8])
L

['Chemistry', 'Physics', [1989, 2004], ('Oreily', 'Pearson'), 5, 8, [5, 8]]

In [14]:
# extend()
L = ["Chemistry", "Biology", [1989,  2004] ,("Oreily" , "Pearson")]
L.extend([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [15]:
# append()
L = ["Chemistry", "Biology", [1989,  2004], ("Oreily" , "Pearson")]
L.append([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), [5, 8]]

In [16]:
# del commad
del L[0]
print(L)

['Biology', [1989, 2004], ('Oreily', 'Pearson'), [5, 8]]

In [17]:
del L[0:2]
L

[('Oreily', 'Pearson'), [5, 8]]

In [18]:
# pop()
L = ['Checmistry', 'Physics', [1992, 2004], 4, 5, 8]
L.pop()

8

In [19]:
print(L)

['Checmistry', 'Physics', [1992, 2004], 4, 5]

In [20]:
# remove()
L.remove('Physics')
L

['Checmistry', [1992, 2004], 4, 5]

In [21]:
# Sorting Lists
L = [32, 24, 1, 3, 8]
L.sort()
L

[1, 3, 8, 24, 32]

In [22]:
L.sort(reverse=True)
L

[32, 24, 8, 3, 1]

Difference Between Sort and Sorted

In [23]:
A = ["Orange", "Strawberry", "Mango"]
A

['Orange', 'Strawberry', 'Mango']

In [24]:
B = A.sort()
print(A)
print(B)

['Mango', 'Orange', 'Strawberry']
None

In [25]:
A = ["Orange", "Strawberry", "Mango"]
C = sorted(A)
print(A)
print(C)

['Orange', 'Strawberry', 'Mango']
['Mango', 'Orange', 'Strawberry']

In [26]:
# Practical

list_1 = [2, 33, 222, 14, 25]
list_1[-5]

2

In [27]:
word = ['1','2','3','4']
word[ : ] = [ ] 
print(word)

[]

In [28]:
L = ['one','two','three', 'four', 'five', 'six']
print(sorted(L))
print (L)

['five', 'four', 'one', 'six', 'three', 'two']
['one', 'two', 'three', 'four', 'five', 'six']

In [29]:
# Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK' in its place.
input_list=['SAS', 'R', 'PYTHON', 'SPSS']
input_list.remove('SPSS')
print(input_list)
input_list.append('SPARK')
print(input_list)

['SAS', 'R', 'PYTHON']
['SAS', 'R', 'PYTHON', 'SPARK']

In [30]:
# Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] 
# to a string using ‘&’. 
# The sample output of this string will be:

input_str = ['Pythons syntax is easy to learn', 'Pythons syntax is very clear']
string_1 = input_str[0] + ' & ' + input_str[1]
print(string_1)

Pythons syntax is easy to learn & Pythons syntax is very clear

In [31]:
# Shadow Copying
A = ["Orange", "Strawberry", "Mango"]
B = A
print(A, B)
A[0] = "Apple"
print(A, B)

['Orange', 'Strawberry', 'Mango'] ['Orange', 'Strawberry', 'Mango']
['Apple', 'Strawberry', 'Mango'] ['Apple', 'Strawberry', 'Mango']

In [32]:
A = ["Orange", "Strawberry", "Mango"]
B = A[:]
print(A, B)
A[0] = "Apple"
print(A, B)

['Orange', 'Strawberry', 'Mango'] ['Orange', 'Strawberry', 'Mango']
['Apple', 'Strawberry', 'Mango'] ['Orange', 'Strawberry', 'Mango']

In [33]:
input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]
input_list[2][0]

'Python'

### Tuple

In [34]:
## Tuple
t = ("disco", 12, 4.5)
t

('disco', 12, 4.5)

In [35]:
# Single Value Tuple

sample_tuple = 1,
print(sample_tuple)

sample_tuple = 1 # This is not a tuple
type(sample_tuple)

(1,)

int

In [36]:
sample_tuple = (1)
type(sample_tuple) # This is not a tuple

int

In [37]:
# Indexing in tuples
t = ("Tanvir", 84, "Python")
t

('Tanvir', 84, 'Python')

In [38]:
print(t[0])
print(t[2])
print(t[-1])
print(t[1])

Tanvir
Python
Python
84

### Slicing

In [40]:
t = ("Mumbai", 84, "Python", 5, 2, 1)
t

('Mumbai', 84, 'Python', 5, 2, 1)

In [41]:
t[0:3]

('Mumbai', 84, 'Python')

In [42]:
t[-2:]

(2, 1)

In [43]:
len(t)

6

### Concatination Tuple

In [44]:
tup1 = ("This", "is", "Session", 2)
tup2 = ("On", "Tuples")
tup3 = tup1 + tup2

In [45]:
tup3

('This', 'is', 'Session', 2, 'On', 'Tuples')

In [46]:
# sum(), min(), max()

In [47]:
# Practical
tuple = (2,3.2,4,5)
print(sum(tuple))
print(min(tuple))
print(max(tuple))

14.2
2
5

In [48]:
x =(1,2,3)
x[2] = 5

TypeError: 'tuple' object does not support item assignment

In [49]:
t = ("disco", 12, 4.5)
t[0][2]

's'

In [50]:
## Immutability of tuples
t = ("USA", 4, 3, "Disco", 7.5, 4)
print(t)
t[3] = "Hard Rock"

('USA', 4, 3, 'Disco', 7.5, 4)

TypeError: 'tuple' object does not support item assignment

In [51]:
new_t = t[0:3] + ("Hard Rock",) + t[4:]
new_t

('USA', 4, 3, 'Hard Rock', 7.5, 4)

In [52]:
## Sorting a Tuple
t = (2, 3, 5, 10, -1)
t

(2, 3, 5, 10, -1)

In [53]:
x = sorted(t)
y = tuple(x)

TypeError: 'tuple' object is not callable

In [54]:
## Nested tuple
t = (1, 5, "Disco", ("Python", "Java"))

In [55]:
t[3][1]

'Java'

In [56]:
## Packing and Unpacking Tuple

In [57]:
my_list = []
print(type(my_list))
print(dir(my_list))

my_set = set()
print(type(my_set))
print(dir(my_set))

my_tuple = ()
print(type(my_tuple))
print(dir(my_tuple))

<class 'list'>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
<class 'set'>
['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']
<class 'tuple'>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [58]:
t = (1,5,"Disco", ("Python", "Java"))
print(type(t[3]))
tuple

<class 'tuple'>

(2, 3.2, 4, 5)

In [59]:
t = (1, 2, 4, 3)

In [60]:
print(t[4])

IndexError: tuple index out of range

In [61]:
t[3] = 5

TypeError: 'tuple' object does not support item assignment

In [67]:
print(t[1:-4])

()

In [68]:
print(len(t))

4

In [69]:
x = 1,2,
print(type(x))
x = ((1,2,3), 4,5)
print(type(x))
x = (Hello,'2','3')

<class 'tuple'>
<class 'tuple'>

NameError: name 'Hello' is not defined

In [70]:
x = ('2',)
print(type(x))

<class 'tuple'>

In [71]:
input_tuple = ('Monty Python', 'British', 1969)
tuple_2 = input_tuple[0:] + ("Python",)
print(tuple_2)
print(type(tuple_2))

new_t = t[0:3] + ("Hard Rock",) + t[4:]

('Monty Python', 'British', 1969, 'Python')
<class 'tuple'>

## Set

In [78]:
l = [1, 3, 2, 4, 5, 5]
print(l)
type(l)

[1, 3, 2, 4, 5, 5]

list

In [80]:
list_1 = [5,5,5,5,5,5,5,3]

In [81]:

list_2 = [3,3,5,5,1,7,2]

common_set = set(list_1).intersection(list_2)
answer = sorted(list(common_set))
print(answer)

[3, 5]

In [82]:
nums = set([1,1,2,3,3,3,4])
print(len(nums))

4

In [83]:
list_1 = [5, 1, 3, 4, 4, 5, 6, 7]
list_2 = [3, 3, 5, 5, 1, 7, 2]

A = set(list_1)
B = set(list_2)
print(A, B)
print(A.union(B))
print(A.intersection(B))
(A.union(B)).difference(A.intersection(B))

{1, 3, 4, 5, 6, 7} {1, 2, 3, 5, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 3, 5, 7}

{2, 4, 6}

In [84]:
nums = set([1,1,2,3,3,3,4])
print(len(nums))

4

#### Dictionary

In [85]:
d = {'India': 'INR', 'USA': 'USD', 'French': 'Euro' }
print(d)
print(d['USA'], d['India'])

{'India': 'INR', 'USA': 'USD', 'French': 'Euro'}
USD INR

In [86]:
# replace the value for a key
d['USA'] = '$'
print(d['USA'], d['India'])

$ INR

In [88]:
# Inset a new element with key
d['Japan'] = 'Yen'
print(d['USA'], d['India'], d['Japan'])

$ INR Yen

In [97]:
# delete a new key pair
del d['French']
print(d)

KeyError: 'French'

In [98]:
# sorting a disctionary
print(sorted(d))

['a', 'b']

In [99]:
# extract all the value
print(d.values())
print(d.keys())

dict_values([1, 2])
dict_keys(['a', 'b'])

In [100]:
Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}

print(Employee_data[104][2])
for key in Employee_data.keys():
    if key == 104:
        print(Employee_data[104])

Product Lead
['Ansari', 29, 'Product Lead']

In [101]:
d = {}
print(type(d))

<class 'dict'>

In [102]:
d = {'a':1, 'b':2}
print(type(d))

<class 'dict'>

In [103]:
d = dict(a=1, b=2)
print(type(d))

<class 'dict'>

In [104]:
d = ('a':1, 'b':2)
print(type(d))

SyntaxError: invalid syntax (1075098687.py, line 1)

In [105]:
dict_1 = {"Python":40, "R":45}

In [ ]:
del dict_1['R']
print(dict_1)

{'Python': 40}

In [107]:
d = {'Python':40, 'R':45}
print(list(d.keys()))

['Python', 'R']

In [110]:
input_dict={'Name': 'Monty', 'Profession': 'Singer' }
for key in input_dict.keys('Label', 'NA'):
    print(key)

TypeError: dict.keys() takes no arguments (2 given)

In [28]:
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}
list_values = input_dict.values()
print(sorted(list(list_values)))

['Amazon', 'Apple', 'RJIO', 'Twitter']