In [31]:
# Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK' in its place.
input_list=['SAS', 'R', 'PYTHON', 'SPSS']
input_list.remove('SPSS')
print(input_list)
input_list.append('SPARK')
print(input_list)

['SAS', 'R', 'PYTHON']
['SAS', 'R', 'PYTHON', 'SPARK']

In [32]:
# Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] 
# to a string using ‘&’. 
# The sample output of this string will be:

input_str = ['Pythons syntax is easy to learn', 'Pythons syntax is very clear']
string_1 = input_str[0] + ' & ' + input_str[1]
print(string_1)

Pythons syntax is easy to learn & Pythons syntax is very clear

In [38]:
# Split the string input_str = 'Kumar_Ravi_003' to the person's second name, 
# first name and unique customer code. In this example, second_name= 'Kumar', first_name= 'Ravi', 
# customer_code = '003'.

input_str = 'Kumar_Ravi_003'
print(input_str.split('_')[0])
print(input_str.split('_')[1])
print(input_str.split('_')[2])

Kumar
Ravi
003

In [37]:
# Add the element ‘Python’ to a tuple input_tuple = ('Monty Python', 'British', 1969). 
# Since tuples are immutable, one way to do this is to convert the tuple to a list, add the element, 
# and convert it back to a tuple.

input_tuple = ('Monty Python', 'British', 1969)
tuple_2 = input_tuple[0:] + ("Python",)
print(tuple_2)

('Monty Python', 'British', 1969, 'Python')

In [39]:
## Let’s say you have two lists A and B. Identify the elements which are common in the 
# two lists A and B and return them in a sorted manner. For example 

input_list = [[5, 1, 3, 4, 4, 5, 6, 7],[3, 3, 5, 5, 1 ,7 ,2]]
list_1 = input_list[0]
list_2 = input_list[1]

#Type your answer here
set_a = set(list_1)
set_b = set(list_2)
common_elements = set_a.intersection(set_b)
common_sorted = sorted(list(common_elements))
answer = common_sorted
print(answer)

[1, 3, 5, 7]

In [1]:
s = 'a$b@c@d'
print(s.split('@','$'))

TypeError: 'str' object cannot be interpreted as an integer

In [2]:
list_1 = ['red' , 'orange', 'blue', 'green', 'black', 'white']
print(list_1.sort())

None

In [3]:
num_1=[9,4,2,7]
num_2=[8,3,6,1]
print(sorted(num_1))
print(num_1)
print(num_2.sort())
print(num_2)

[2, 4, 7, 9]
[9, 4, 2, 7]
None
[1, 3, 6, 8]

In [4]:
l = ['paris','india','china','london']
print(tuple(l+['sri lanka']))

('paris', 'india', 'china', 'london', 'sri lanka')

In [5]:
l = ['paris','india','china','london']
print(tuple(l+['sri lanka']))

('paris', 'india', 'china', 'london', 'sri lanka')

In [6]:
l = ['paris','india','china','london']
print(tuple(l+['sri lanka']))

('paris', 'india', 'china', 'london', 'sri lanka')

In [7]:
var=(5)
print(type(var))

<class 'int'>

In [8]:
tup=([1,3,5],"abcd",(2,4),6)
tup[0][2]=7
print(tup)

([1, 3, 7], 'abcd', (2, 4), 6)

In [9]:
a= {1,2,4,5}
b= {5,6,7,8}
print(a-b)

{1, 2, 4}

In [10]:
s= {3,4,5}
s*2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [11]:
numbers= {1,0,6,1,4,0,7}
print(len(numbers))

5

In [12]:
dict= {'ab':12,'cd':34,'ef':56}
print(dict[1])

KeyError: 1

In [13]:
marks= {'John':45,'Alex':60}
print(marks.keys())

dict_keys(['John', 'Alex'])

In [14]:
d = {"Python":40, "R":45}
"Python" in d

True

In [15]:
input_dict= {1:"one",2:"two",3:"three"}
for i in input_dict:
  print(i)

1
2
3

In [16]:
input_str="I love programming in python"
count=0
l=['a','e','i','o','u']
for i in input_str.lower():
  if i in l:
  	count=count+1
print(count)

8

In [19]:
'''
List sum

Description
Suppose you want to know the total score of the Indian cricket team in a given match. 
To do so, your task is to find the sum of all the scores of the Indian team players. 
The scores are provided as a list, with each element as an individual score of the players. 
Also, there is a condition that if the number of elements in the list is more than 11, 
then it is an invalid input and the output should be -1.

Input - List
Output - An integer

Sample Input : [11, 13, 101, 14, 33, 141]
Sample Output : 313
'''
def total_score(scores):
    # Check if the number of scores provided is more than allowed for a cricket team
    if len(scores) > 11:
        return -1  # Return -1 if the input list has more than 11 elements (invalid input scenario)
    else:
        # Calculate the total score by summing up the values in the list
        return sum(scores)
    
# Get input from the user
input_scores = input("Enter the scores in list format, like [11, 13, 101, 14, 33, 141]: ")

# Remove the brackets and spaces, then split the string by commas
scores_list = [int(score) for score in input_scores.strip('[] ').split(',')]

# Calculate total score
result = total_score(scores_list)
print(result)

223

In [ ]:
import ast

def total_score(scores):
    if len(scores) > 11:
        return -1  # Invalid input if more than 11 scores
    else:
        return sum(scores)  # Calculate sum of scores

# Prompt user for input
input_scores = input("Enter the scores in list format, like [11, 13, 101, 14, 33, 141]: ")

try:
    # Convert the string input to a Python list using ast.literal_eval
    scores_list = ast.literal_eval(input_scores)
    
    # Check if the result is indeed a list
    if not isinstance(scores_list, list):
        raise ValueError("Input is not a list")
    
    # Ensure all items in the list are integers
    if not all(isinstance(item, int) for item in scores_list):
        raise ValueError("All items in the list must be integers")

    # Calculate total score
    result = total_score(scores_list)
    print("Total Score:", result)
except (SyntaxError, ValueError) as e:
    print(f"Invalid input: {e}")

In [ ]:
import ast,sys

def total_score(scores):
    # Check if the number of scores provided is more than allowed for a cricket team
    if len(scores) > 11:
        return -1  # Return -1 if the input list has more than 11 elements (invalid input scenario)
    else:
        # Calculate the total score by summing up the values in the list
        return sum(scores)
    
# Get input from the user
input_str = sys.stdin.read()
input_scores = ast.literal_eval(input_str)

# Calculate total score
result = total_score(input_scores)
print(result)

In [ ]:
'''
Given a list of strings, write a program to find the number of 
strings whose length is greater than or equal to K, 
where K is a positive integer.

Input - List of strings and an integer
Output - Integer

Sample Input :

[Datascience, Data Analyst, Programmer, Manager]
8

Sample Output : 3
'''

import ast

#Take input here using ast sys
input_list = ast.literal_eval(input())
K = int(input())

#start writing your code here
def count_long_strings(strings, k):
    # Use list comprehension to filter and count strings longer than or equal to k
    return len([string for string in strings if len(string) >= k])

result = count_long_strings(input_list, K)
print(result)

In [ ]:
'''
Increment list elements
Description
Given a list of strings, increment the value of the numeric strings by 'k’. 
Hint: The function isdigit() may be useful here.

Input - A list in the first line and an integer in the second line
Output - A list

Sample Input :
['Python', '123', 'Data']
4
Sample Output : ['Python', '127', 'Data']
'''

#Input has been taken for you
import ast
input_list = ast.literal_eval(input())
K = int(input())

#write the code
def increment_numeric_strings(strings, k):
    # Initialize the result list
    result = []
    
    # Iterate through each string in the input list
    for s in strings:
        # Check if the string is numeric

In [ ]:
'''
Slicing a list
Description
Given a list of strings and an integer K, write a python code to print all the elements from the K th position 
till the end of the list.

Note: Assume that K (a positive integer) will always be less than or equal to the length of the list
Input - A list of strings in the first line and an integer in the second line of the input.
Output - A list
'''