### Relational Operators

In [ ]:
# Double Equal to Operator
1 == 1

In [ ]:
# Not Equal to Operaor
1 != 2

In [ ]:
# Greater Than
print(5 > 3)
print(5 >= 3)

In [ ]:
# Less Than
print(5 < 8)
print(5 <= 8)

### Decision Making

In [ ]:
x = 45
if x < 99:
    # Inside if - Statement
    print(x, "is less than 99")
else:
    print(x, "is greater than 99")

In [ ]:
x = 145
if x < 99:
    # Inside if - Statement
    print(x, "is less than 99")
else:
    print(x, "is greater than 99")

In [ ]:
X = 12

if (X > 10 & X < 15):
    print('YES')
else:
    print('No')

In [ ]:
# Logicat Operators
# AND, OR, NOT, XOR

In [ ]:
# Write a program to record the age of visitor and allows him to an exclusive children's day
# party hosted by Mr. Obama only if he or she is above 60 year or below 18 years of age

age = int(input("Enter you age: "))
if age <= 18 or age >= 60:
    print("Welcome to Party!")
else:
    print("Sorry!!! you do not fit in the age criteria!")

In [ ]:
# Write a program which offers various discounts based on purchage bills
shopping_bill = 500
if shopping_bill >= 5000:
    print("You got a discont voucher of 1000Rs. for the next purchase")
elif shopping_bill >= 2500:
    print("You got a discont voucher of 500Rs. for the next purchase")    
elif shopping_bill >= 1000:
    print("You got a discont voucher of 100Rs. for the next purchase")    
else:
    print("OOPS!, No Discount for you!!")

In [ ]:
a=10
b=16
c=20

if( a > b and a > c ):
    print("a")
elif( b > a and b > c):
    print("b")
else:
     print("c")

In [ ]:
## Nested IF-ELSE

if True or True:
    if False and True or False:
        print('A')
    elif False and False or True and True:
        print('B')
    else:
        print('C')
else:
    print('D')

In [15]:
world_cups = {2019 : ['England', 'New Zealand'], 2015:["Australia", "New Zealand"], 2011 : ["India", "Sri Lanka"], 2007: ["Australia", "Sri Lanka"], 2003: ["Australia", "India"]}

year = int(input("Enter year to check New Zealand made it to Finals in 20th century : "))

if year in world_cups :
    if "New Zealand" in world_cups[year] :
        print("New Zealand made it to Finals")
    else:
        print("New Zealand could not make it to Finals")
        
else:
    print("World cup wasnt played in", year)

New Zealand made it to Finals

In [3]:
pin = input("Enter your four digit pin: ")
while pin != '1234':
    pin = input("Invalid input, please try again: ")
print("Pin Validation Successful!!")

Pin Validation Successful!!

In [5]:
import sys
pin = input("Enter your four digit pin: ")
attempt_count = 1
while pin != '1234':
    if attempt_count >= 3:
        sys.exit("Too many invalid attempts!!")
    pin = input('Invalid input, please try again: ')
    attempt_count += 1

print("Pin Validation Successful!!")

SystemExit: Too many invalid attempts!!

c:\Users\mohammad_tanvir\OneDrive - EPAM\Tanvir-WS\learn-python\DataAnalystBootcamp\venv\Lib\site-packages\IPython\core\interactiveshell.py:3585: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [6]:
# iterate over the list of integers
l = {1, 2, 3, 4, 5}
for val in l:
    print(val)

1
2
3
4
5

In [11]:
# iterate over a string
string = "New York"
for char in string:
    print(char)

# iterate over a string
string = "New York"
for char in string:
    print(char, end='')

N
e
w

Y
o
r
k
New York

In [14]:
students_data = {1: ['Sam', 14], 2: ['Rob', 18], 3: ['Jack', 26], 4: ['Ahmad', 34]}
students_data

{1: ['Sam', 14], 2: ['Rob', 18], 3: ['Jack', 26], 4: ['Ahmad', 34]}

In [16]:
for key, val in students_data.items():
    print(key, val)

1 ['Sam', 14]
2 ['Rob', 18]
3 ['Jack', 26]
4 ['Ahmad', 34]

In [18]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3 = [0, 1, 2, 3, 4]

for i in L3:
    L3[i] = L1[i] - L2[i]

L3

[2, 6, 15, 4, 8]

In [13]:
l = []
for i in range(-10, 0):
    if(i % 2 == 0):
        l.append(i)
l

[-10, -8, -6, -4, -2]

In [ ]:
print(list(range(0, -101, 2)))

In [ ]:
list(range(-100, -1, 2))

In [ ]:
sorted(set(range(-2, -101, -2)))

In [ ]:
l = []
for i in range(-100, 0):
    if(i % 2 == 0):
        l.append(i)
l

In [ ]:
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i in d:
    print(i)

In [ ]:
## Loops and Iterations

pin = input("Enter your four digit pin: ")
while pin != '1234':
    pin = input("Invalid input, please try again: ")

print("Pin Validation successfull.")

In [22]:
## Write a program to print prime numbers between 1 to 20
for n in range(2, 20):   # n = 7
    flag = True
    for i in range(2, n):
        if n%i == 0:
            flag = False
    if flag == True:
        print(n, "is a prime number.")

2 is a prime number.
3 is a prime number.
5 is a prime number.
7 is a prime number.
11 is a prime number.
13 is a prime number.
17 is a prime number.
19 is a prime number.

In [25]:
## Comprehensions
l1 = ['Automobiles', 'Honda', 'Benz', 'Tata', 'Morris Garages']
l1

['Automobiles', 'Honda', 'Benz', 'Tata', 'Morris Garages']

In [28]:
l2 = []
for word in l1:
    l2.append(len(word))
l2

[11, 5, 4, 4, 14]

In [29]:
# The Functional Approach
l2 = [len(word) for word in l1]
l2

[11, 5, 4, 4, 14]

In [30]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3 = []
for  i in range(len(L1)):
    L3.append(L1[i] - L2[i])
L3

[2, 6, 15, 4, 8]

In [32]:
# using list comprehension
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3 = [L1[i] - L2[i] for i  in range(0, len(L1))]
L3

[2, 6, 15, 4, 8]

In [33]:
# Dictionary Comprehension
# Creating a dictionary consisting of even natural numbers as key and square of each element as value 
ordinary_dict ={}

for i in range(2,21):
    if i % 2 == 0:
        ordinary_dict[i] = i**2

print(ordinary_dict)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324, 20: 400}

In [34]:
#Using dictionary comprehension
updated_dict = {i : i**2 for i in range(2,21) if i % 2 ==0}
print(updated_dict)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324, 20: 400}

In [36]:
word = input("Enter a word : ")
vowels = {i for i in word if i in "aeiou"}
vowels

{'a', 'i'}

In [42]:
## Write a function which takes a value as a parameter and returns its factorial

def cal_factorial(n):
    # Write the code:
    fact = 1
    for i in range(1,n+1):
        fact = fact * i
    return fact

In [43]:
print(cal_factorial(4))

24

In [44]:
def squared(x, y):
    return x**y

In [45]:
squared(6,7)

279936

In [46]:
def fun(name, age = 25):
    print("Name: ", name)
    print("Age: ", age)

In [49]:
fun("Tanvir", 35)

Name:  Tanvir
Age:  35

In [50]:
fun("Tanvir")

Name:  Tanvir
Age:  25

In [51]:
def var_arg(*args):
    print(args)

In [53]:
var_arg(1,2,3,4)

(1, 2, 3, 4)

In [54]:
def list_diff(list1,list2):
    list3 = []
    for  i in range(0, len(list1)):
        list3.append(list1[i] - list2[i])
    return list3

L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]

print(list_diff(L1, L2))

[2, 6, 15, 4, 8]

In [56]:
def func(x, y):
    z = x * y + x + y

func(2)

TypeError: func() missing 1 required positional argument: 'y'

In [57]:
def func(x = 1 ,y = 2):
    z = x * y + x + y
    return z

func(2, func(3))

35

In [60]:
## Lambda Function
## Write a Lambda function to check a number is even or odd

f = lambda x: "even" if x%2 == 0 else "odd"
f(4)

'even'

In [61]:
f(5)

'odd'

In [62]:
greater = lambda x, y: x if x>y else y

In [63]:
greater(9,3)

9

In [64]:
min = (lambda x, y: x if x < y else y)
min(101*99, 102*98)

9996

#### Map, Filter and Reduce Functions

In [ ]:
countries = ["India", "Japan", "Italy", "France"]
f = lambda x : x.upper()
f("India")

'INDIA'

In [4]:
capital_countries = []
for country in countries:
    capital_countries.append(f(country))
capital_countries

['INDIA', 'JAPAN', 'ITALY', 'FRANCE']

In [ ]:
# map (function, collection_or_list)
list(map(lambda x : x.upper(), countries))

['INDIA', 'JAPAN', 'ITALY', 'FRANCE']

#### Some more example on map, filter and reduce

In [6]:
L1 = [2, 4, 5]
f_square = lambda x : x**2
list(map(f_square, L1))

[4, 16, 25]

In [8]:
#### Defining a function and using it in map
L1 = [2, 4, 5]
def squareit(n):
    return n**2

list(map(squareit, L1))

[4, 16, 25]

In [10]:
list_numbers = (1,2,3,4)
sample_map = map(lambda x: x*2, list_numbers)
print(list(sample_map))

[2, 4, 6, 8]

In [11]:
def multi(x):
    return x*2

list_numbers = [1,2,3,4]
sample_map = map(multi, list_numbers)

print(list(sample_map))

[2, 4, 6, 8]

In [12]:
## Filter function to return the multipes on 3
my_list = [3, 4, 5, 6, 7, 8, 9]
div_by_3 = lambda x : x % 3 == 0
div_by_3(6)

True

In [13]:
div = filter(div_by_3, my_list)

In [14]:
list(div)

[3, 6, 9]

In [18]:
# Ex: Write a python program to count the students above age 18
students_data = {1:['Sam', 15] , 2:['Rob',18], 3:['Kyle', 16], 4:['Cornor',19], 5:['Trump',20]}
len(list(filter(lambda x : x[1] > 18, students_data.values())))

2

In [19]:
from functools import reduce
l = range(1, 7)
list(l)

[1, 2, 3, 4, 5, 6]

In [21]:
f = lambda x, y : x*y
f(2,3)

6

In [23]:
q = reduce(lambda x, y: x*y, l)
q

720

In [24]:
from functools import reduce
list_1 = ['Paul','Ted']
reduce(lambda x,y: x + y,list_1)

'PaulTed'