In [1]:
# General data types --> int float str bool
# basic operation 

# if else elif
# slicing indexing

In [2]:
# Pythonic data types
# list, tuple, set, dict

In [3]:
s = "upgrad"
# u --> 0, p --> 1 ..... , d --> 5

In [4]:
s[1]

'p'

In [5]:
s[-2]

'a'

In [6]:
s[1:3] # --> 1st , 2nd , 3rd index (not incl.)
# pg / pgr?

'pg'

In [7]:
s

'upgrad'

In [8]:
s[0:6]

'upgrad'

In [10]:
s[0:6:2]

'uga'

# List Basics

A list is a mutable, ordered collection of objects. "Mutable" means a list can be altered after it is created. You can, for example, add new items to a list or remove existing items. Lists are heterogeneous, meaning they can hold objects of different types.

Construct a list with a comma separated sequence of objects within square brackets:

In [11]:
# [] - LISTS !!

In [12]:
myfirstlist = [1,2,3]

In [14]:
print(myfirstlist)

[1, 2, 3]

In [15]:
type(myfirstlist)

list

In [16]:
type(1.2)

float

In [17]:
type(True)

bool

In [18]:
type("upgrad")

str

In [19]:
my_list = ["Lesson", 5, "Is Fun?", True]
print(my_list)

['Lesson', 5, 'Is Fun?', True]

In [20]:
type(my_list)

list

In [21]:
x= " "
type(x)

str

In [22]:
empty_list = []
print(empty_list)

[]

In [23]:
type(empty_list)

list

In [24]:
x1 = [1,2,3]

In [25]:
# x1. #hit tab

In [26]:
# x1.append(shift+tab)

In [27]:
empty_list

[]

In [28]:
empty_list.append("Bootcamp")
print(empty_list)

['Bootcamp']

In [29]:
empty_list.append("Learning Python")
empty_list

['Bootcamp', 'Learning Python']

In [30]:
# a) ["Learning Python", 'Bootcamp']
# b) ['Bootcamp',"Learning Python"]
# c) ["Learning Python"]

In [31]:
# .insert(index, element)
empty_list.insert(0,2)

In [32]:
empty_list

[2, 'Bootcamp', 'Learning Python']

In [33]:
empty_list.insert(1,"coding")
empty_list

[2, 'coding', 'Bootcamp', 'Learning Python']

Remove a matching item from a list with list.remove():

In [34]:
my_list

['Lesson', 5, 'Is Fun?', True]

In [35]:
my_list.remove(5)
print(my_list)

['Lesson', 'Is Fun?', True]

In [36]:
nu = [1,1,2,3,3]

In [37]:
nu.remove(1)

In [38]:
nu

[1, 2, 3, 3]

In [39]:
nu

[1, 2, 3, 3]

In [40]:
del nu[0]

In [41]:
nu

[2, 3, 3]

*Note: Remove deletes the first matching item only.*

Join two lists together with the + operator:

In [42]:
a = 'x'
b = "is nice"

In [43]:
a + " " + b #concatenates

'x is nice'

In [44]:
"up"+"grad" + " bootcamp"

'upgrad bootcamp'

In [45]:
"5"+"100"

'5100'

In [46]:
my_list

['Lesson', 'Is Fun?', True]

In [47]:
empty_list

[2, 'coding', 'Bootcamp', 'Learning Python']

In [48]:
my_list + empty_list

['Lesson', 'Is Fun?', True, 2, 'coding', 'Bootcamp', 'Learning Python']

In [49]:
num_list = [1,3,5,7,9]
print("len -", len(num_list))                # Check the length
print("max -", max(num_list))                # Check the max
print("min -", min(num_list))                # Check the min
print("sum -", sum(num_list))                # Check the sum
print("avg -", sum(num_list)/len(num_list))  # Check the mean*

len - 5
max - 9
min - 1
sum - 25
avg - 5.0

In [50]:
num_list

[1, 3, 5, 7, 9]

In [51]:
100 in num_list

False

In [52]:
100 not in num_list

True

In [53]:
x = [1,2,3]
x.append(4)
print(x)

[1, 2, 3, 4]

In [ ]:
# a) [1,2,3,4]
# b) [4,1,2,3]
# c) [4]

In [54]:
l = [1,2,3,4]

In [55]:
l[0] == 100

False

In [56]:
l[0] != 100

True

Count the occurrences of an object within a list using the list.count() function:

In [57]:
num_list = [1,3,5,7,9,3,3,3,3,'a']
num_list

[1, 3, 5, 7, 9, 3, 3, 3, 3, 'a']

In [58]:
num_list.count(3)

5

In [59]:
num_list.count(' a')

0

In [61]:
num_list.count('a')

1

In [62]:
# num_list.cont(' a') --> ERROR

In [63]:
new_list= [1, 5, 4, 2, 3, 6]      # Make a new list
new_list

[1, 5, 4, 2, 3, 6]

In [64]:
new_list.sort() #ascending sort!
print(new_list)

[1, 2, 3, 4, 5, 6]

In [65]:
new_list.sort(reverse=True) #descending sort!
print(new_list)

[6, 5, 4, 3, 2, 1]