In [4]:
# list   --> []

In [6]:
# tuples --> ()

## Tuples

Tuples are an immutable sequence data type that are commonly used to hold short collections of related data. For instance, if you wanted to store latitude and longitude coordinates for cities, tuples might be a good choice, because the values are related and not likely to change. Like lists, tuples can store objects of different types.

Construct a tuple with a comma separated sequence of objects within parentheses:

In [7]:
# [] lists
# () tuples

In [8]:
my_tuple = (1,3,5)
print(my_tuple)

(1, 3, 5)

In [9]:
type(my_tuple)

tuple

In [10]:
# my_tuple. #hit_tab

In [11]:
my_tuple

(1, 3, 5)

In [12]:
my_tuple.append(10)

AttributeError: 'tuple' object has no attribute 'append'

Tuples generally support the same indexing and slicing operations as lists and they also support some of the same functions, with the caveat that tuples cannot be changed after they are created. This means we can do things like find the length, max or min of a tuple, but we can't append new values to them or remove values from them:

In [13]:
another_tuple = (1,2,3,4)

In [14]:
another_tuple[2]

3

In [15]:
another_tuple

(1, 2, 3, 4)

In [16]:
# You can use common sequence functions on tuples:
print("len - ",len(another_tuple))   
print("min - ",min(another_tuple))  
print("max - ",max(another_tuple))  
print("sum - ",sum(another_tuple))

len -  4
min -  1
max -  4
sum -  10

In [18]:
another_tuple

(1, 2, 3, 4)

In [19]:
another_tuple.count(1)

1

In [20]:
another_tuple.count(100)

0

In [21]:
t1 = (1,2,3)
# want to append 4 in it?

In [22]:
l1 = list(t1)
l1

[1, 2, 3]

In [23]:
l1.append(4)
l1

[1, 2, 3, 4]

In [24]:
t1 = tuple(l1)
t1

(1, 2, 3, 4)

You can sort the objects in tuple using the sorted() function, but doing so creates a new list containing the result rather than sorting the original tuple itself like the list.sort() function does with lists:

In [26]:
another_tuple = (4,1,3,2)
another_tuple

(4, 1, 3, 2)

In [27]:
sorted(another_tuple)

[1, 2, 3, 4]

In [ ]:
sorted(another_tuple)

In [ ]:
tuple(sorted(another_tuple))

In [ ]:
tuple(sorted(another_tuple,reverse=True)) #descending