# Python for Data 3: Basic Data Types

In [4]:
print("hello world")

hello world

In [5]:
print("Hi D74 Bootcamp!")

Hi D74 Bootcamp!

# Integers

In [6]:
a = 10
# im creating variable "a" which contains int value 10

In [7]:
print(a)

10

In [8]:
b = 100
print(b)

100

In [13]:
c = 200
print(c)
# 200 value is assigned to variable c (# - comment)

200

In [ ]:
# ERROR : 
# 1a = 10
# a b = 10

In [14]:
a = 20

In [15]:
print(a)

20

In [16]:
type(a)
# datatype of value stored in a

int

In [17]:
my_number = 10

In [18]:
print(my_number)

10

In [19]:
type(my_number)

int

In [20]:
type(1000)

int

In [21]:
type(200000000)

int

Integers or "ints" for short, are whole-numbered numeric values. Any positive or negative number (or 0) without a decimal is an integer in Python. Integer values have unlimited precision, meaning an integer is exact. You can check the type of a Python object with the type() function. Let's run type() on an integer:

In [23]:
a=1
a=2
a=1
a=2
a=20

In [24]:
print(a)

20

In [27]:
A = 1
a = 2
A = 3
a = 100

In [28]:
print(A)

3

In [29]:
# python IS case sensitive

In [30]:
print(a)

100

In [31]:
a = 1
A = 2
a = 1

In [32]:
print(a)

1

In [33]:
1/2

0.5

In [34]:
type(1/2)

float

# Floats

Floating point numbers or "floats" are numbers with decimal values. Unlike integers, floating point numbers don't have unlimited precision because irrational decimal numbers are infinitely long and therefore can't be stored in memory. Instead, the computer approximates the value of long decimals, so there can be small rounding errors in long floats. This error is so minuscule it usually isn't of concern to us, but it can add up in certain cases when making many repeated calculations.

Every number in Python with a decimal point is a float, even if there are no non-zero numbers after the decimal:

In [35]:
a = 100.0

In [36]:
print(a)

100.0

In [37]:
type(a)

float

In [38]:
type(100)

int

In [39]:
type(1.0)

float

In [40]:
a = 5.0 - 1
# float-int
# a) 4.0
# b) 4

In [41]:
print(a)

4.0

In [42]:
type(a)

float

The arithmetic operations we learned last time work on floats as well as ints. If you use both floats and ints in the same math expression the result is a float:

In [43]:
5 + 1.0

6.0

In [44]:
1 - 6.0

-5.0

In [45]:
2 + 2.0

4.0

In [46]:
11*3.0

33.0

In [47]:
5/2

2.5

In [48]:
# + Addition
# - Subtraction
# * Multiplication
# / Division

In [49]:
2*3

6

In [50]:
4*2

8

In [51]:
4**2
# (4^2)

16

In [52]:
3*3

9

In [53]:
3**3 # ** - raise power!!

27

In [54]:
5**3

125

In [55]:
5/2

2.5

In [56]:
5//2
# // -> floor division

2

In [57]:
15/2

7.5

In [58]:
15//2

7

In [59]:
# / --> division
# // --> floor division

In [60]:
10%3

1

In [61]:
17%7

3

In [62]:
21%3

0

In [64]:
# % --> Modulous!

You can convert a float to an integer using the int() function:

In [67]:
a = 33.0
print(a)

33.0

In [68]:
# conversion from one datatype to 
# another datatype is known as typecasting

In [70]:
b = int(a)
print(b)

33

In [72]:
d = 100
print(d)

100

In [74]:
e = float(d)
print(e)

100.0

In [76]:
int(33//4)

8

In [77]:
float(7/3)

2.3333333333333335

In [78]:
int(7/3)

2

In [79]:
int(7//3)

2

In [80]:
7//3

2

In [81]:
float(7//3)

2.0

In [82]:
# a) 2.333.....
# b) 2.0

# Booleans

Booleans or "bools" are true/false values that result from logical statements. In Python, booleans start with the first letter capitalized so True and False are recognized as bools but true and false are not. We've already seen an example of booleans when we used the isinstance() function above.

In [85]:
# True
# False

In [86]:
type(True)

bool

In [90]:
type(False)

bool

In [91]:
20 > 1

True

In [92]:
100 < 20

False

In [95]:
# True -> keyword!
# true

In [96]:
# False -> keyword!
# false

You can create boolean values with logical expressions. Python supports all of the standard logic operators you'd expect:

In [97]:
# Use >  and  < for greater than and less than:
20 > 10

True

In [98]:
20 < 5

False

In [99]:
# >  : greater
# <  : less
# >= : greater equal
# <= : less equal

In [100]:
# Use >= and  <= for greater than or equal and less than or equal:
20 >= 20

True

In [101]:
20 <= 20

True

In [ ]:
# != not equal to
# == equality

In [102]:
a = 100
b = 101

a == b
# ==  Check equality?

False

In [103]:
# = : assignment
# ==: checking equality!

In [104]:
a = 100
b = 101
# != not equal to!

In [105]:
a != b

True