## Strings

 strings are technically sequences: immutable sequences of text characters.

In [1]:
# texts/characters
# sequence of texts/character

In [2]:
a = 'upgrad'
print(a)

upgrad

In [3]:
b = "upgrad"
print(b)

upgrad

In [ ]:
# ' '
# " "

In [4]:
a = 'bootcamp'
print(a)

bootcamp

In [5]:
type(a)

str

In [6]:
a = "bootcamp"
type(a)

str

In [7]:
a = " "
type(a)

str

In [8]:
a1 =  1
a2 = '1'

In [9]:
a1 == a2

False

In [10]:
a1 == int(a2)

True

In [12]:
str(a1) == a2

True

In [13]:
int("100")

100

In [14]:
int("UPGRAD")

ValueError: invalid literal for int() with base 10: 'UPGRAD'

In [15]:
x1 = '2'
x2 =  4

In [16]:
# o/p : 16 (4^2)

In [18]:
x3 = int(x1)
x3

2

In [19]:
x2**x3
# x2**int(x1)

16

In [20]:
5*3

15

In [21]:
'5'*3

'555'

In [22]:
'upgrad - '*2

'upgrad - upgrad - '

In [23]:
'-'*100

'----------------------------------------------------------------------------------------------------'

In [26]:
'* - '*16

'* - * - * - * - * - * - * - * - * - * - * - * - * - * - * - * - '

In [28]:
my_string = "Hello world"

In [29]:
len(my_string)
# len - length of string!

11

In [30]:
my_string

'Hello world'

In [31]:
# str.lower()     
my_string.lower()   # Make all characters lowercase

'hello world'

In [32]:
my_string

'Hello world'

In [36]:
# str.upper()     
my_string.upper()   # Make all characters uppercase

'HELLO WORLD'

In [37]:
my_string

'Hello world'

In [38]:
# str.title()
my_string.title()   # Make the first letter of each word uppercase

'Hello World'

In [39]:
x = 10
y = 20

In [40]:
x
y

20

In [42]:
# a) 10 20
# b) 10
# c) 20
# d) nothing

In [44]:
print(x)
print(y)

10
20

In [45]:
# +
5 + 5

10

In [46]:
"upgrad " + "bootcamp"
# concatenates!

'upgrad bootcamp'

In [47]:
"Hi_" + "_All"

'Hi__All'

In [48]:
"Hello " + 40 + " students"

TypeError: can only concatenate str (not "int") to str

In [49]:
"Hello " + "40" + " students"

'Hello 40 students'

Find and replace a target substring within a string using str.replace():

In [50]:
my_string

'Hello world'

In [51]:
my_string.replace("world",
                  "bootcamp")

'Hello bootcamp'

In [52]:
my_string.replace("world",      # Substring to replace
                  'bootcamp')   # New substring

'Hello bootcamp'

In [53]:
x = "Hi All"

In [54]:
x.replace("all","upgrad")

'Hi All'

In [56]:
# python is a case sensitive language

In [57]:
x.replace("All","upgrad")

'Hi upgrad'