#### Basic Syntax and Semantics

In [10]:
# Single Line Comment

'''
Welcome to the Python - Multi line comments
'''

print("Let's Start learning Python!!!")

# Python is case sensitive
name="Mohammad"
Name="Tanvir"
print(name)
print(Name)

# Indentation
# Python uses uses indentation to define blocks of code

age=32
if age>32:
    print(age)
print(age)

# Line Continuation
total= 1+2+3+4+5+6+\
    7+8+9
print(total)

# Multiple Statements in single line
x=5;y=10;z=x+y
print(z)

Let's Start learning Python!!!
Mohammad
Tanvir
32
45
15

#### Variables in Python

In [20]:
# Declaring and assigning variables

age=32
height=7.1
name="Tanvir"
is_student=True

# printing the Variables
print("Age: ",age)
print("Height: ",height)
print("Name: ", name)

# Naming Conventions
first_name="Mohammad"
last_name="Tanvir"

# Understanding Variable Data Types
age=25
height=6.1
name="Krish"
is_student=True

print(type(name))
print(type(height))
print(type(age))

age_str=str(age)
print(age_str)
print(type(age_str))

# Dynamic Typing
var=10
print(var,type(var))

# Variable Input
age=input("What is the age.")
print(age,type(age))

Age:  32
Height:  7.1
Name:  Tanvir
<class 'str'>
<class 'float'>
<class 'int'>
25
<class 'str'>
10 <class 'int'>
24 <class 'str'>

In [22]:
## Simple Calculator
num1=float(input("Enter first number:"))
num2=float(input("Enter second number:"))

sum = num1 + num2
diff = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum: ",sum)
print("Difference: ",diff)
print("Product: ", product)
print("Quotient: ", quotient)

Sum:  24.0
Difference:  0.0
Product:  144.0
Quotient:  1.0

#### Datatype in Python

##### Basic Datatypes
- Integers
- Float
- String
- Booleans

##### Advanced Data Types
- Lists
- Tuples
- Sets
- Dictionaries

In [23]:
age=35 # Integer
height=7.1 # Float
name="Tanvir" # String
is_student=True # Boolean

#### Operators in Python

In [24]:
# Arithmetic Operators
# + (addition), - (substration), * (Multiplication), / (division), // (floor division), ** (Modulus)

# Comparison Operators
# ==, !=, >, >=, <, <=

# Logical Operators
# AND, OR, NOT


## Simple Calculator to perform Arithmetic Operation
num1=float(input("Enter first number:"))
num2=float(input("Enter second number:"))

addition = num1 + num2
substration = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
exponentiation = num1 ** num2


print("Addition: ",addition)
print("Substration: ",substration)
print("Multiplication: ",multiplication)
print("Division: ",division)
print("Floor Division: ", floor_division)
print("Modulus: ", modulus)
print("Exponentiation: ", exponentiation)

Addition:  8.0
Substration:  0.0
Multiplication:  16.0
Division:  1.0
Floor Division:  1.0
Modulus:  0.0
Exponentiation:  256.0

#### Conditional Statements (if, elif, else)

In [25]:
# If Statement
age=20
if age>=18:
    print("You are allowed to vote in the elections")

# if and else statement
if age>=18:
    print("You are eligible for voting")
else:
    print("You are a minor")

You are allowed to vote in the elections
You are eligible for voting

In [26]:
age=20
if age<13:
    print("You are child")
elif age<18:
    print("You are teenager")
else:
    print("You are an adult")

You are an adult

In [29]:
# Determine if an year is a leap year using nested conditional statement
year=int(input("Enter the year"))
if year%4==0:
    if year%100==0:
        if year%400==0:
            print(year,"is a leap year!")
        else:
            print(year,"is not a leap year!")
    else:
        print(year,"is a leap year!")
else:
    print(year,"is not a leap year!")

2024 is a leap year!

In [ ]:
# Write a program for a simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
operation = input("Enter operation (+, -, *, /): ")

if operation == '+':
    result = num1 + num2
elif operation == '-':
    result = num1 - num2
elif operation == '*':
    result = num1 * num2
elif operation == '/':
    if num2 != 0:
        result = num1 / num2
    else:
        result = "Error! Division by zero"
else:
    result = "Invalid operation!"

print("Result: ", result)

#### Loops in Python

In [32]:
range(0,5)

# for loop
for i in range(0,5):
    print(i)

0
1
2
3
4

In [34]:
for i in range(2, 11, 2):
    print(i)

2
4
6
8
10

In [40]:
# Strings
str="Mohammad Tanvir"
for i in str: 
    print(i)

M
o
h
a
m
m
a
d

T
a
n
v
i
r

In [1]:
# while loop
count = 0
while count<5:
    print(count)
    count = count+1

0
1
2
3
4

In [3]:
# Prime numbers between 1 and 100

for num in range(1,100):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97