In [6]:
# Question 1: Write a Python function to find the 
# second-largest number in a list of integers.
input_numbers = [4,7,1,9,9,9,9,3,7,8,8,7,7]
# o/p : 8

In [7]:
def sechigh(input_numbers):
    return list(set(input_numbers))[-2]

In [8]:
sechigh([4,7,1,9,9,9,9,3,7,8,8,7,7])

8

In [11]:
# 2) Question: Calculate the sum of all numbers
# in the list 
numbers = [1, 2, 3, 4, 5]
# o/p : 15

In [15]:
# 1) Loops
s_um = 0 
for i in numbers:
    s_um = s_um + i 
print(s_um)

15

In [17]:
# 2) Lambda func and reduce 
from functools import reduce
f = lambda a,b : a+b
reduce(f,numbers)

15

In [18]:
# 3) def func and reduce
def add (x, y): 
    return x + y 
reduce (add, numbers)

15

In [22]:
# Write a for loop to compute the product (multiply)
# of all **odd numbers** in a given list.
numbers = [1, 2, 3, 4, 5, 6, 7]
# o/p : 7*5*3*1 = 105

In [23]:
x=1
for i in numbers:
    if i%2 !=0:
        x=i*x 
print(x)

105

In [33]:
# Q: Write a function  that takes a list of numbers,
# filters out the odd numbers, 
# squares the remaining even numbers,
# and then sums them up. 
x = [1,2,3,4]

In [34]:
# 1)  Use filter, map, and the reduce function from functools.
# [2,4] --> [4,16] --> 20

def mrf(x):
    s1 = list(filter(lambda x:x%2==0,x))
    s2 = list(map(lambda x:x**2,s1))
    s3 = reduce(lambda x,y:x+y,s2)
    return s3

mrf(x)

20

In [35]:
# 2) Loops
s = 0
for i in x :
    if i%2 == 0 :
        s = s+i**2
print(s)

20

In [36]:
# # Function
# Write a function which calculates
# factorial of a number
# def , while

# 5! = 5*4*3*2*1 = 120
# Condition : < 0 -> enter correct number
# <=1  --> 1
# 5! = 5*4*3*2*1 = 120

In [37]:
# 0!=1
# 1!=1
# 5! = 5*4*3*2*1 = 120

In [38]:
def fact(x):
    if x < 0 :
        print("Enter correct number")
    elif x <=1 :
        return 1
    else :
        result = 1
        while x > 1 :
            result = result*x
            x = x - 1
        return result

In [39]:
fact(-10)

Enter correct number

In [40]:
fact(1)

1

In [41]:
fact(5)

120

In [47]:
# Q: Given a list of tuples where each
# tuple contains a product name and its price, 
# Write a code  that returns a
# list of products priced over $20.

products = [('pen', 3.50), ('notebook', 25),
            ('pencil', 2), ('bag', 50)]

# Output: [('notebook', 25), ('bag', 50)]

In [48]:
# 1) Loops
p = []
for i in products:
    if i[1]>=20:
        p.append(i)
print(p)

[('notebook', 25), ('bag', 50)]

In [54]:
p = []
for i,j in products:
    if j>=20:
        p.append((i,j))
print(p)

[('notebook', 25), ('bag', 50)]

In [49]:
# 2) List comprehension
[i for i in products if i[1]>=20]

[('notebook', 25), ('bag', 50)]

In [50]:
# 3) filter
list(filter(lambda x : x[1]>=20, products))

[('notebook', 25), ('bag', 50)]

In [51]:
# Write a code that takes a 
# list of integers and returns the 
# first element that appears more than once. 
# If no element repeats, return None.

# first_repeated_element([1, 3, 2, 5, 3, 4])
# Output: 3

# first_repeated_element([1, 2, 5, 3, 4])
# Output: None

In [56]:
x = [1, 3, 2, 5, 3, 4]

In [59]:
def cnt(x):
    for i in x:
        if x.count(i)>1:
            return i
    return None

In [61]:
print(cnt(x))

3

In [62]:
print(cnt([1,2,3]))

None

In [69]:
dct = {1:"data",2:"science"}
# o/p : {"data":1, "science":2}

In [72]:
# 1) loops
d = {}
for x,y in dct.items():
    d[y] = x
print(d)

{'data': 1, 'science': 2}

In [74]:
# 2) dict comp
{j:i for i,j in dct.items()}

{'data': 1, 'science': 2}